


@import "style-fonts";
@import "style-resets";
@import "color-variables";
@import "mixins";
@import "main";


#authentication-forgot-password-wrapper {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;

}




#authentication-forgot-password-container {
  position: absolute;
  width: 350px;
  margin-top: -85px;
  //top: calc( 50% + 50px );
  top: calc( 50% + 60px );
  opacity: 0;
  left: 50%;
  transform: translate( -50%, -50% );


  p {
    text-align: center;
  }

  #authentication-forgot-password-logo {
    width: 170px;
    height: 40px;
    margin: auto auto 25px;
    background: url( $logo-path-variable ) no-repeat;
    background-size: 100%;
  }


  #authentication-forgot-password-title {
    font-size: 1em;
    color: $text-quaternary-color;
    padding: 0 5px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 20px;
  }


  #authentication-forgot-password-email-input {
    margin-bottom: 5px;

    .invalid {
      border-bottom: 1px solid $text-color-error;
    }

  }

  #authentication-forgot-password-error {
    color: $text-color-error;
    opacity: 0;
    text-align: left;
  }


  #authentication-forgot-password-button-send-instructions {
    margin: 10px 0 25px;
    text-align: center;


  }

  .loading {
    color: transparent;
    box-shadow: none;
    @include gradient( $septenary-color, $septenary-color );
  }

  .loading-animation {
    background: $septenary-color url("../img/auth-loader-animation.gif") no-repeat center;
    background-size: 35px;
  }


  #authentication-forgot-password-button-back-to-login {
    display: none;
  }



  #authentication-forgot-password-remember {
    font-size: 1em;
    color: $text-quaternary-color;
    padding: 0 5px;
    text-align: center;
    display: inline;
  }

  #authentication-forgot-password-try-logging-in {
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;

  }

}

@media screen and ( max-width: 480px ) {

  #authentication-forgot-password-container {
    width: calc(100% - 55px);
  }


  #authentication-forgot-password-button-send-instructions {
    font-size: 0.95em;
  }

}
