
@import "color-variables";



#prompt-view-container {
  width: 100%;
  height: 100%;
  z-index: 1001;
  position: absolute;
  top: 0;
}



#prompt-view-background {
  width: 100%;
  height: 100%;
  background-color: $quinary-support-color;
  position: absolute;
  opacity: 0;
}