<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../public/_style/style-sheets/style-reset.css">
    <link rel="stylesheet" href="../public/_style/style-sheets/style-fonts.css">
    <link rel="stylesheet" href="../public/reset-password/reset-password.css">
</head>
<body>


    <div id="reset-password-wrapper">


        <img src="../public/_style/img/scrumbs-logo.png" alt="Scrumbs Logo">

        <div id="reset-password-container">

            <!--<h3 id="reset-password-title">Reset Password</h3>-->
            <h3 id="reset-password-title">Success! Your password has been reset successfully, you can use your new password next time you log in.</h3>

            <section id="reset-password-password-section">

                <label for="reset-password-password">Password</label>
                <input id="reset-password-password" type="password" name="password" value="" placeholder="New password" autofocus="autofocus">

            </section>



            <section id="reset-password-confirm-section">

                <label for="reset-password-confirm">Confirm Password</label>
                <input id="reset-password-confirm" type="password" name="confirm" value="" placeholder="Confirm password">

            </section>


            <p id="reset-password-error-text">There is no account associated with this email address.</p>


            <button id="reset-password-submit">Update Password</button>

            <button id="reset-password-login">Login</button>


        </div>
    </div>


    <script type="text/javascript" src="../public/reset-password/reset-password.js" ></script>

</body>
</html>