

body {
    background-color: #F3F2FC;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #80879B;
}


img {
    width: 170px;
    height: 40px;
    display: block;
    margin: auto auto 25px;
}


h3 {
    font-size: 1em;
    color: #80879B;
    padding: 0 5px;
    margin: 15px 0 50px 0;
    text-align: center;
    font-weight: normal;
    line-height: 20px;
}


button {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: box-shadow 0.3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient( to right, #6cb7ff 0%, #7985ff 100% );
    box-shadow: 0 20px 15px -15px rgba( 118, 115, 255, 0.5 );
    -webkit-box-shadow: 0 20px 15px -15px rgba( 118, 115, 255, 0.5 );
    -moz-box-shadow: 0 20px 15px -15px rgba( 118, 115, 255, 0.5 );
    outline: none
}


button:hover {
    box-shadow: 0 23px 15px -15px rgba( 118, 115, 255, 0.5 );
    -webkit-box-shadow: 0 23px 15px -15px rgba( 118, 115, 255, 0.5 );
    -moz-box-shadow: 0 23px 15px -15px rgba( 118, 115, 255, 0.5 );
}


label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.85em;
}


input {
    width: 100%;
    display: block;
    font-size: 1.25em;
    letter-spacing: 1px;
    border: 1px solid #d6e3eb;
    text-indent: 25px;
    margin-bottom: 15px;
    color: #6A7187;
    height: 50px;
    line-height: 50px;
}



input::placeholder {
    letter-spacing: normal;
    color: #A6A9B4;
    font-size: 0.70em;
}


.invalid {
    border-bottom: 1px solid #F55623;
}


#reset-password-confirm {
    margin-bottom: 10px;
}



#reset-password-error-text {
    color: #F55623;
    opacity: 0;
}



#reset-password-wrapper {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 28px 37px 0 rgba( 74, 144, 226, 0.1 );
    padding-top: 250px;
    margin: -50px auto auto;
}


#reset-password-container {
    width: 350px;
    margin: auto;
}


#reset-password-login {
    display: none;
}





@media screen and ( max-width: 480px ) {

    #reset-password-container {
        width: 85%;
    }

    #reset-password-wrapper {
        width:  95vw;
        padding-top: 175px;
    }
}



@media screen and ( max-width: 320px ) {

    #reset-password-container {
        width: 90%;
    }

    #reset-password-wrapper {
        width:  95vw;
        padding-top: 125px;
    }

    input {
        height: 40px;
        line-height: 40px;
    }

    input::placeholder {
        line-height: 40px;
    }
}


